go 1.24.0

toolchain go1.24.9

use (
	./gen/proto/go
	./services/delivery-service
	./services/gateway
	./services/inventory-service
	./services/order-service
	./services/payment-service
	./services/product-service
	./services/shared/go
	./services/user-service
)
